.work-sans-project {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* design color */
.word-design{
    color: #FD6E0A;
}

.dark-2{
    color: #474747
}

.button-u{
   background-color: #FD6E0A; 
   border: none;
   color: white;
   font-weight: bold;
   padding: 18px 36px;
   border-radius: 5px;
   font-size: 20px;
   cursor: pointer;

}
/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
      font-weight: 800;
      font-size: 45px ;
}

 nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul a {
    text-decoration: none;
    font-size: 20px;
}

/* header-images */

.header-images{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px  180px;
}

.banner-description{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
}

.profile-pic{
    width: 584px;
}
